.clock-container {
    background-color: transparent;
    margin: 20px;
    padding: 20px;
    border: solid 4px #f9f7f7;

    /* border-top: 4px solid #e8544a; */

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    /*align-self: center;
    */
    flex-flow: column;
    justify-content: center;
    width: 21em;
    height: 21em;
}

.clock-container h1 {
    text-align: center;
    background-color: transparent;
    margin: 0;
}
.clock-container span {
    font-size: 100px;
}
.controls {
    background-color: transparent;
}

.controls button {
    background-color: transparent;
    padding: 10px;
    margin: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
#start_stop svg path {
    color: #f9f7f7;
}
#reset {
    position: absolute;
    margin: 22px 15px;
}
.controls span {
    font-size: 40px;
    margin: 0 10px;
}

.control-icon {
    pointer-events: none;
}

#time-left {
    color: #f9f7f7;
    text-shadow: 0 0 9px;
}
