nav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    border: black solid 2px;
    overflow-x: hidden;
    /* padding-top: 29px; */
}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav ul li a {
    /* width: 100%; */

    text-decoration: none;
    color: #000;
    font-size: 0.7em;
}
nav ul li {
    margin: 46px 0px;
}
