@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
    box-sizing: border-box;
    background-color: #70a1ff;
    font-family: "Noto Sans", sans-serif;
}

.App,
.ToDoList {
    text-align: center;
}

.Counters {
    display: flex;
    align-items: center;
    justify-content: center;
}

#break-label,
#session-label {
    margin: 0 20px;
}
