@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
    background-color: #70a1ff;
    font-family: "Noto Sans", sans-serif;
}
.App {
    text-align: center;
}

.Counters {
    display: flex;
    align-items: center;
    justify-content: center;
}

#break-label,
#session-label {
    margin: 0 20px;
}
